NODE_ENV=development
APP_BASE_URL=http://localhost:3000

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# LINE
LINE_CHANNEL_ACCESS_TOKEN=
LINE_API_BASE_URL=https://api.line.me

# Optional
PURCHASE_LINK_DEFAULT=
IMAGE_PLACEHOLDER_URL=
NEXT_PUBLIC_LIFF_ID=
